
{% extends 'base.twig' %}



{% block content %}

<h2>Edit User {{user.id}}</h2>

{{ flash.error|raw }} <br />

<form action="" method="POST">

<label>Username: </label>
<input type="text" name="username" value="{{user.username}}"> <br />
<label>Password: </label>
<input type="text" name="password" value="{{user.password}}"> <br />
<label>email: </label>
<input type="text" name="email" value="{{user.email}}"> <br />
<label>bio: </label>
<input type="text" name="bio" value="{{user.bio}}"> <br />
<label>Administrator: </label>
<input type="checkbox" name="isAdmin" value="true" {% if user.isAdmin  %} checked {% endif %}">

<input type="submit" name="submit" value="Submit">
</form>
{% endblock %}

